* {
    font-family: 'PT Sans', sans-serif;
    color: black;
}

.container {
    text-align: center;
    justify-content: center;
}

body {
    text-align: center;
    max-width: 620px;
    margin-left: auto;
    margin-right: auto;
}

header {
    background: url("/images/pokemon-picture.png");
    height: 40vh;
}

.search-bar-container {
    background:cadetblue;
    height: 40vh;
    padding-left: 40px;
    padding-right: 40px;
    background-size: auto;
}

.reset-btn-div {
    text-align: right;
    justify-content: right;
    position: relative;
    left: 40px;
    bottom: 1px;
}

#resetBtn {
    color: red;
    background: grey;
    border: none;
}

#searchButton {
    border: 2px solid #76D7C4;
    border-radius: 3px;
    background: #DAF7A6;
    font-size: large;
    text-transform: uppercase;
    transition: all 300ms ease-out;
}

#searchButton:hover {
    transform: scale(1.2);
    box-shadow: 0 2px 0 2px;
}

#typeList {
    background: cadetblue;
    display: flex;
    text-align: center;
    justify-content: center;
}

#pokeName {
    text-transform: uppercase;
}

#pokename {
    background: #DAF7A6;
}

#typeList li {
    padding: 5px;
    text-transform: uppercase;
}

li {
    list-style: none;
}